<div class="teaser">
			<!--Picture of Family-->
	<img src="images/greenhills-9772.jpg" alt="Durr Family Photo">
	<h3 class="hero container">There is no other place to learn as much about me, Eric M Durr, as right here! 
			Come on in and learn something!</h3>
</div>