<form method='POST' action='/contact'>
	<div class='centered'>
   <div class='spacing'>
      <label>
    		Name
    		<input type="text" name="name" placeholder="Full name" required />
      </label>
    </div>
    <div class='spacing'>
      <label>
    		Email
    		<input type="email" name="email" placeholder="Email address" required />
      </label>
    </div>
    <div class='spacing'>
  	 <label>
    		Reason for contact
    		<input type="text" name="reason" placeholder="Reason" required />
      </label>
    </div>
    <div class='spacing'>
  	 <label>
    	 Comments
    		<textarea name="comments"></textarea>
      </label>
    </div>
    <input type="submit" value="Contact Eric" />
  </div>
  
</form>
